
body {
	background-color: #838383;
	padding-bottom: 0;
}

.carousel-item {
	max-height: 350px;
	background-color: #000;
}

.carousel-item img {
	max-height: 350px;
	width: auto !important;
	margin: auto;
}

.price {
	border-radius: 25px;
	border: solid 2px #000;
	height: 100px;
	background-color: white;
}

.col-7 {
	background-color: white;
}

.footer {
	height: 50px;
	background-color: #063864;
	text-align: center;
	color: white;
}