table{
	margin-top: 20px;
	width: 50%;
}
td{
	border: 1px solid red;
	padding-left: 10px;
}
.dev{
	width: 30%;
	padding-left: 10px;
}
.date{
	width: 20%;
	text-align: center;
}
@media (max-width: 800px) {
	table { width:100%; }
}